@font-face {
    font-family: 'Akkurat';
    src: url('https://db.onlinewebfonts.com/t/cf3327022417d4ff7f54f0963c4f41ea.eot'),
        /* IE9*/ url('https://db.onlinewebfonts.com/t/cf3327022417d4ff7f54f0963c4f41ea.eot?#iefix')
            format('embedded-opentype'),
        /* IE6-IE8 */ url('https://db.onlinewebfonts.com/t/cf3327022417d4ff7f54f0963c4f41ea.woff2') format('woff2'),
        /* chrome firefox */ url('https://db.onlinewebfonts.com/t/cf3327022417d4ff7f54f0963c4f41ea.woff') format('woff'),
        /* chrome firefox */ url('https://db.onlinewebfonts.com/t/cf3327022417d4ff7f54f0963c4f41ea.ttf')
            format('truetype'),
        /* chrome firefox opera Safari, Android, iOS 4.2+*/
            url('https://db.onlinewebfonts.com/t/cf3327022417d4ff7f54f0963c4f41ea.svg#Akkurat') format('svg'); /* iOS 4.1- */
}

body,
html {
    font-family: 'Akkurat', ui-sans-serif, system-ui, -apple-system, serif !important;
}

html,
body,
body > div:first-child,
div#__next,
div#__next > div {
    height: 100%;
}
body > div:first-child {
    display: block;
    overflow: auto;
}

a {
    color: inherit;
}

a:hover {
    color: inherit;
    text-decoration: none;
}

a:active {
    color: inherit;
    text-decoration: none;
}

a:focus {
    color: inherit;
    text-decoration: none;
}

button:focus {
    border: none;
}

input:focus::placeholder {
    color: transparent;
}

a {
    color: #0000bd;
}

.increased-hit-box {
    height: 5vh;
    width: 5vh;
    position: absolute;
    background-color: black;
}

.box-shadow {
    box-shadow: 0 5px 30px #0000bd29;
    border-radius: 16px !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type='number'] {
    -moz-appearance: textfield;
}

input {
    background: transparent;
}

@keyframes countdown {
    from {
        height: 100%;
    }
    to {
        height: 0;
    }
}

@tailwind base;

@tailwind components;

@tailwind utilities;

/** Table css */
.cCell {
    @apply p-3;
}

.cRow {
    @apply border-b-2 border-blue-300 cursor-pointer;
}

.cRow:hover {
    @apply bg-blue-300;
}

.aCell {
    @apply w-1/2 text-blue-100 rounded h-10 flex flex-row;
}

.aCell:hover {
    @apply bg-blue-200;
}

.page {
    @apply h-screen flex flex-col;
}

/** Fonts */
h1 {
    @apply text-blue-100 font-bold text-2xl py-5;
}

h4 {
    @apply text-blue-100 text-base;
}

.web3modal-modal-lightbox {
    z-index: 4 !important;
}
